{% extends "base.html" %}
{% block content%}

    <div class="limiter">
      <div class="container-login100">

        <div class="space-20"> This is Criterion 3: Research, Innovations and Extension </div>
        

      </div>

      </div>
    <script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>

	<script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

	<script src="{{ url_for('static',filename='vendor/select2/select2.min.js') }}"></script>

	<script src="{{ url_for('static',filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

	<script src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock%}
